body {
  font-family: Roboto;
  line-height: normal;
  width: 100vw;
  background-color: rgba(30, 37, 43, 1);
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
}




/* ============================ slider  ========================= */

.splide__slide{
  min-height: 600px ;
  background-color: rgba(30, 37, 43, 1);
}

.splide__arrow {
  background: none;
}

.splide__arrow:hover svg{
  fill: rgba(255, 110, 48, 1);
}

.splide__arrow:disabled svg {
  opacity: .3;
}

.splide__arrow:disabled svg {
  opacity: .3;
  fill: rgba(255, 255, 255, 0.28);
}

.splide__arrow svg {
  fill: rgba(255, 255, 255, 0.28);
  height: 48px;
  width: 48px;
}

.splide__pagination li {
  /* margin-right: 18px; */
}

.splide__pagination li:not(:last-child) {
  margin-right: 18px;
}

.splide__pagination__page{
  width: 44px;
  height: 6px;
  border-radius: 4px;
  margin: 0;
}

.splide__pagination__page.is-active {
  background-color:rgba(255, 110, 48, 1);
  transform: scaleY(1.4);
  opacity: 1;
}

/* ============================ style card  ========================= */
.box-img{
  position: relative;
  height: 495px;
  width: 400px;
  background-image: url(./img/circle.png);
  background-repeat: no-repeat;
  background-position: center;
margin: 0 auto;
}

.img-wrap-deckr{
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Poppins;
padding: 23px 10px 23px 16px;
width: 265px;
background-image: url(img/bg-img-deckr.png);
background-repeat: no-repeat;
background-position: center;
border-radius: 8px;
}

.img-wrap-deckr-title{
font-size: 26px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.015em;
color: rgba(255, 253, 253, 0.78);


/* text-align: left; */
}

.img-wrap-deckr-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color:  rgba(255, 253, 253, 0.55);
  /* text-align: left; */
  
}