*,
::after,
::before {
  box-sizing: border-box;
}

*,html {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {

}



.background{
  width:90%;
  height: 90vh;
  margin: 0 auto;
  background-color: #1ad899;
  background-image: url(img/apple-icon.png), url(img/3135715.png), url(img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: 100px 200px, -100px -200px, center ;
  background-size:100px, 200px,  contain;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 26px;
  text-align: center;
  color: bisque;
  /* margin-top: 50px; */
}